



/* ----------------------------------------Images */

.kettle {
    background: url("../figures/comicbike.png");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: scale-down;
    
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1px;  
}
.slider {
    background: url("../figures/serviceslider.png");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: scale-down;
    
}


.QR {
    background: url("../figures/qrwheel.png");
    background-position: inline;
    background-repeat: no-repeat;
    width: 500px;
    height: 200px;
    padding: 1px;
    object-fit: scale-down;  
    margin-top: 10px;
}

.Bolted {
    background: url("../figures/Bolted.png");
    background-position: inline;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    padding: 1px;
    object-fit: scale-down;  
}

.smallBolt {
    background: url("../figures/smallBolt.png");
    background-position: inline;
    background-repeat: no-repeat;
    width: 400px;
    height: 300px;
    padding: 1px;
    object-fit: scale-down;  
}

.largeBolt {
    background: url("../figures/largeBolt.png");
    background-position: inline;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    padding: 1px;
    object-fit: scale-down;  
}

.open {
    background: url("../figures/qropclos.jpg");
    background-position: inline;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    padding: 1px;
    object-fit: scale-down;
}



div.background {
    background-image: url("../figures/mtb.png");
    border: 2px solid #179db8;
    background-size: 100% 100%;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}


div.transbox h1 {
  margin: 50px;
  line-height: 80%;
  font-weight: bold;
  color: #000000;
}

div.transbox h2 {
  margin: 60px;
  line-height: 80%;
  font-weight: bold;
  color: #000000;
}

div.transbox p {
  margin: 60px;
  line-height: 1.1;
  font-weight: bold;
  color: #000000;
}

div.transbox ul li {
  margin: 60px;
  line-height: 1.01;
  font-weight: bold;
  color: #000000;
}


.nut {
     background: url("../figures/nut.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 10px;
    
    
}

/* ------------------------ Formatting */
.tab-width {
    margin: 5px;
    width: 100%;
    padding: 25px;
    color: black;
    
    
}

.centText {
    text-align: center;
    
    
}




.white-colour {
    padding: 0px 0px 0px 0px;
    margin-top: 1px;
    margin-bottom: 0px;
    color:  white;
    margin: 65px;
    font-size: 2vx;
    font-weight: bold;
}

.center {
    margin: 25px;
}

.margin {
    padding: 0px 0px 0px 0px;
    margin-top: 0px;
    margin: 25px;
}

.marg {
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 30px;


}
.right {
    text-align: right;



}

/* ----------- #96ff00------------- Colour */
.bg-header {
    background-color: #179db8;
}

.hd-colour {
    color:black;
    font-size: 8vw;
}

.mbhd-text {
    color: black;
    font-size: 5vw;

}

.mb-text {
    color: black;
    font-size: 3vw;

}

.quick-colour {
    color: #96ff00;
    font-size: 6vw;

}

.ac-colour {
    color: black;
    font-size: 2vw;
}

.tb-colour {
    color: #fafafa;
}

.sec-colour {
    color: black;
    font-size: 4vw;

}

.bg-color-name-title {
    background-color: #179db8;
}

.txt-color {
    color:black;
    font-size: 3vx;
}

.sp-color {
    color: black;
    font-size: 2vx;
    
}

.black {
    color:black;
    
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}


