



/* ----------------------------------------Images */

.kettle {
    background: url("../figures/comicbike.png");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: scale-down;
    
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1px;  
}

div.background {
    background-image: url("../figures/mtbjumping.png");
    border: 2px solid #179db8;
    object-fit: fill;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}


div.transbox h1 {
  margin: 30px;
  line-height: 80%;
  font-weight: bold;
  color: #000000;
}

div.transbox h2 {
  margin: 60px;
  line-height: 80%;
  font-weight: bold;
  color: #000000;
}

div.transbox p {
  margin: 60px;
  line-height: 0.5%;
  font-weight: bold;
  color: #000000;
}

.nut {
     background: url("../figures/nut.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 10px;
    
    
}

/* ------------------------ Formatting */
.tab-width {
    margin: 5px;
    width: 70%;
    padding: 25px;
    color: black;
    
    
}

.center {
    margin: 25px;
}

.margin {
    margin: 15px;
}

/* ------------------------ Colour */
.bg-header {
    background-color: #179db8;
}

.hd-colour {
    color: #96ff00;
}

.tb-colour {
    color: #fafafa;
}

.sec-colour {
    color: #96ff00;
}

.bg-color-name-title {
    background-color: #179db8;
}

.txt-color {
    color: #96ff00;
}

.sp-color {
    color: #96ff00;
    
}
